<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!--should be removed later-->
        <link rel="stylesheet" href="stylesheets/header.css" type="text/css" />
    </head>
    <body>
    <footer>
        <p>info@companyname.com</p>
        <p>Tel: 123-456-789</p>
        <p>City, State</p>
    
        <ul>
          <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
        </ul>
    </footer>
    
     </body>
</html>