/*
<!--author:leamug-->
 */
#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}
body, html{
    height: auto;
    background-repeat: no-repeat;
/*    background:url('../img/background.jpg');*/
    background-size: cover;
    background-position: center;

}
label{
    font-weight: 100!important;
}
h3{
    font-family: 'Oleo Script', cursive!important;
}
.main{
    margin:50px 15px;
}

h1.title {
    font-size: 50px;
    font-weight: 400;
    font-family: 'Oleo Script', cursive!important;
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;
    padding: 8px 12px !important;
}
::placeholder{
    color: black;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}

.uicon{
    width: 2em;
    text-align: center;
    padding-top: .50em;
    font-weight: 200;
}

#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 40px;
    background: #56A5EC;
    color: #FFF;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
.input-group-addon{
    background-color: tomato;
}
span.input-group-addon i {
    color: #FFFFFF5d;
    font-size: 17px;
}
.red-color{
    color:#E7363B;
}
.red-div{
    background: #E7363B;
}
.footer p{
    color:white;
}

.title{
    font-size: 25px;
}

body{
      font-family: 'Nunito', sans-serif;
}

.signup{
    padding-top: 65px;
    padding-left: 20px;
    !overflow: hidden;
    text-align: center;
    background-color: #c7c7c7;
}

h3{
    font-weight: bold;
}

table, th, td{
    width: inherit;
    
    text-align: center;
}

.signupbasic{
    width: 1000px;
}

.signupadd{
    width: 1000px;
}

.signupemail{
    width: 1000px;
}
.signuppass{
    width: 1000px;
}

label{
    font-size: 22px;
}

input, textarea{
    width: 100%;
    font-size: 22px;
}

.login{
    background-color: #d9d9d9;
    text-align: center;
}


#messages ul.error{
  list-style:none;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

#messages ul.success{
  list-style:none;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

